*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Headings and navigation */
body {
  font-family: "Open Sans";
  font-weight: 400;
}

/* Headers and Text Deafult Styles */
* {
  color: #393939;
  box-sizing: border-box;
}

/* Reset margins and paddings */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Set all fonts and font sizes */
h1,
h2 {
  font-size: 60px;
  font-weight: 300;
}

h3 {
  font-size: 33px;
  font-weight: 300;
}

p {
  font-size: 18px;
  font-weight: 400;
}

a {
  font-size: 31px;
  font-weight: 400;
  padding-right: 10px;
}

/* Nav bar stuff */
.nav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 20px;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__img {
  display: flex;
  align-items: center;
}

.nav .nitro-title {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 60px;
  font-weight: 300;
}

.nav__list {
  display: flex;
  margin-left: 40px;
  list-style: none;
  padding-right: 20px;
}

.nav__item {
  display: inline-block;
  margin-left: 20px;
}

.nav__link,
.nav__link--active {
  text-decoration: none;
}

.nav__link--active {
  color: #5bacc3;
  text-decoration: none;
}
