*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Headings and navigation */
body {
  font-family: "Open Sans";
  font-weight: 400;
}

/* Headers and Text Deafult Styles */
* {
  color: #393939;
  box-sizing: border-box;
}

/* Reset margins and paddings */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Set all fonts and font sizes */
h1,
h2 {
  font-size: 60px;
  font-weight: 300;
}

h3 {
  font-size: 33px;
  font-weight: 300;
}

p {
  font-size: 18px;
  font-weight: 400;
}

a {
  font-size: 31px;
  font-weight: 400;
  padding-right: 10px;
}

.nav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.nav__logo {
  display: flex;
  align-items: center;
}
.nav__logo .nitro-title {
  font-size: 60px;
  font-weight: 300;
  text-decoration: none;
}
.nav__list {
  display: flex;
  list-style: none;
  padding-right: 20px;
}
.nav__list .nav__item {
  margin-left: 20px;
}
.nav__list .nav__item .nav__link {
  text-decoration: none;
}
.nav__list .nav__item .nav__link--active {
  color: #5bacc3;
}

/* Above the fold (hero section) */
* {
  box-sizing: border-box;
}

.above-the-fold__bg {
  width: 300px;
  height: auto;
}

.above-the-fold__title {
  margin-bottom: 2rem;
}

.above-the-fold__description {
  margin-bottom: 2rem;
  text-align: left;
  width: 65%;
  font-size: 25px;
}

.above-the-fold {
  overflow: hidden;
  padding: 40px;
  padding-left: 200px;
  padding-right: 200px;
  place-items: center;
}

.outer-btn {
  width: 180px;
  background-color: #5bacc3;
  position: relative;
  margin: 1rem 0;
}

.inner-btn {
  height: 100%;
  border: 2.5px solid black;
  position: relative;
  bottom: 0.35rem;
  right: 0.35rem;
}

/* Left side (text) */
.hero-left {
  float: left;
  width: 50%;
  text-align: left;
  padding: 10px;
  padding-top: 100px;
  margin: 0;
  align-self: center;
}
.hero-right {
  float: right;
  width: 50%;
  text-align: center;
  padding: 20px;
  margin: 0;
}
.hero-right img {
  max-width: 100%;
  height: auto;
}

/* Product Cards */
/* Container to hold all product cards */
.product-list {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap on smaller screens */
  gap: 20px; /* Space between the cards */
  justify-content: center; /* Align cards to the left */
  gap: 100px;
}

/* "our products" title */
.our-products__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Individual product card */
.product-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 440px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
}

.product-card__image {
  flex: 2; /* Takes up 2/3 of the card */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures no overflow outside the section */
  padding: 40px;
}

.product-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; /* Ensures the entire image is shown without cropping */
}

.product-card__details {
  flex: 1; /* Takes up 1/3 of the card */
  background-color: #fff0ed;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Spreads items horizontally */
  align-items: center; /* Centers items vertically */
}

.product-card__info {
  display: flex;
  flex-direction: column;
}

.product-card__title {
  margin: 0;
}

.product-card__pack {
  color: gray;
  margin: 0;
}

.product-card__price span {
  font-size: 2.5rem;
  color: #5bacc3;
  font-weight: bold;
}

.our-products__btn {
  margin: 40px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Were different section */
.different-container {
  display: flex;
  align-items: center;
  padding: 100px;
}

.different-container__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 200px;
}

.different-container__icons {
  padding-top: 40px;
  display: flex;
  gap: 80px;
  padding-bottom: 40px;
}

.different-container__title {
  padding-top: 40px;
  padding-bottom: 20px;
}

/* right side image */
.different__images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  position: relative;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.different__image {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1; /* Keep this behind the border */
}

.img-1 {
  position: absolute;
  width: 40%;
  height: auto;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Keep the can under the border */
  animation: infinite-rotation 2s linear infinite;
}

@keyframes infinite-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.border-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #5bacc3; /* Blue border */
  z-index: 2; /* This is on top */
}

/* Discount banner */
.discount-banner {
  width: 90%;
  padding: 40px;
  margin: 200px;
  background-color: #393939;
  color: white;
  margin-inline: auto;
}

.discount-banner__text {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  color: white;
}

.bold-text {
  font-weight: bold;
}

/* Footer */
.footer {
  position: relative; /* Makes the footer the positioning reference for absolutely positioned elements */
  padding: 40px 0;
  background-color: #f7eae5;
}

.footer__section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__card {
  width: 330px;
  height: 240px;
  margin: 60px;
}

.footer__title {
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer__desc {
  padding-bottom: 20px;
}

.footer__img {
  position: absolute;
  width: 120px;
  opacity: 25%;
}

.footer__img-left {
  left: 0;
  top: 20%;
  transform: translate(-20%, -20%); /* Moves it slightly outside the container */
}

.footer__img-right {
  right: 0;
  top: 60%;
  transform: translate(40%, -40%); /* Moves it slightly outside the container */
}

/* Buttons and icons */
.icon {
  width: 50px;
}

.blue-btn {
  background-color: transparent;
  color: white;
  border: none;
  width: 180px;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}
.blue-btn:hover {
  opacity: 0.8;
}

/* Background colors */
.pink-bg {
  background-color: #fff0ed;
}

.grey-bg {
  background-color: #f7f7f7;
}/*# sourceMappingURL=landing.css.map */